@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<blockquote>This site was started as an attempt for the COR360 developers to learn MVC. This way, when the inevitable rewrite occurs, we will have a paddle.</blockquote>