@model Corcentric.LunchAndLearnBlog.Web.Models.HomeIndexViewModel
@{ViewBag.Title = "Corcentric Lunch and Learn Site";}


<b>Thought for the day:</b>
<p />
A ship cannot sink if no water gets inside... or if you have enough people scooping it out. All aboard.
<p />


<h1>The latest Blog Post</h1>
<h2>Title: @Model.Title</h2>
<h3>@Model.DailyMessage</h3>
